<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>Hello ! My name is Vincent PHAM, I am a 25 years old developer with a strong focus on C++ and graphics programming.
           With a Master's diploma and a significant experience in software development, I am thrilled to discover and overcome new challenges.
           In my spare time I like to develop my own applications, play video games and tennis with friends and cook.<br>
           For more information, take a look at my CV !
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download CV
        </a>
      </div>
    </div>
  </div>
</section>
