<!-- About Section -->
<section class="success" id="career">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Career and studies</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h3>Graphics programmer - Wild Sheep Studio</h3>
        <p>
          October 2022 - June 2023
        </p>
        <hr class="star-light">
        <div class="text-center">
          <h3>Graphics programmer - Wild Sheep Studio</h3>
          <p>
            April - September 2022
          </p>
          <hr class="star-light">
          <div class="text-center">
            <h3>Master's diploma ID3D - Claude Bernard University Lyon 1</h3>
            <p>
              2022
            </p>
            <hr class="star-light">
            <div class="text-center">
              <h3>Bachelor's degree in computer science - Claude Bernard University Lyon 1</h3>
              <p>
                2020
              </p>
              <hr class="star-light">
              <div class="text-center">
                <h3>High school diploma - Lycée Edouard Herriot</h3>
                <p>
                  2016, Lyon
                </p>
                <hr class="star-light">
      </div>
    </div>
  </div>
</section>
