<!-- Career and studies Section -->
<section class="success" id="career">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Career and studies</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="text-center">
        <h3>
          Graphics programmer<br>
          Wild Sheep Studio
        </h3>
        <h4>
          October 2022 - June 2023
        </h4>
        <p>
          After my internship, I fully integrated the studio in the same role, where I worked on new features to add to the engine.
          The work flow stayed the same but this time I was more autonomous as my tasks required me to communicate with other teams in the studio to satisfy their needs.
          I will again share a non-exhaustive list of tasks I worked on as I can not share much details due to confidentiality clause :
          Physically based rendering research and development, particle system enhancements, environment values system and transition... 
        </p>
        <ul class="skills">
          <li>C++</li>
          <li>Vulkan</li>
          <li>GitHub</li>
        </ul>
        <hr class="star-light">
        <div class="text-center">
          <h3>
            Graphics programmer<br>
            Wild Sheep Studio
          </h3>
          <h4>
            April - September 2022
          </h4>
        <p>
          In April 2022 I joined Wild Sheep Studio, a AA independent game studio based in Montpellier as a graphics programmer for my end of studies internship.
          The goal was to implement a rendering technique to visually enhance the quality of shadows on small details.
          The process of development was composed of numerous steps which I will share in a non-exhaustive list : state of the art research, documentation, kick-off meeting
          , prototyping, development iterations, debugging, optimisation, tooling, code reviews...
        </p>
          <hr class="star-light">
          <div class="text-center">
            <h3>
              Master's diploma ID3D<br>
              Claude Bernard University Lyon 1
            </h3>
            <h4>
              2020 - 2022
            </h4>
            <p>
              Focused on advanced C++, graphics programming, image and signal processing, embedded technologies, computational geometry, video games and more.
            </p>
            <hr class="star-light">
            <div class="text-center">
              <h3>
                Bachelor's degree in computer science
                Claude Bernard University Lyon 1
              </h3>
              <h4>
                2016 - 2020
              </h4>
              <p>
                Learning the basics of multiple computer science domains: algorithmic, programming, web, linux, AI, network, mathematics and more.
              </p>
              <hr class="star-light">
              <div class="text-center">
                <h3>
                  High school diploma<br>
                  Lycée Edouard Herriot
                </h3>
                <h4>
                  2016
                </h4>
                <hr class="star-light">
      </div>
    </div>
  </div>
</section>
